<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="LocalNuget" value="http://devops/APP-BDRD/LocalNuGet/_packaging/LocalNuget/nuget/v3/index.json" />
		<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>